{% extends 'base.html' %}
{% load static %}
{% block title %}Sign In{% endblock %}
{% block content %}


<section class="log-in-section section-b-space">
   <div class="container-fluid my-5">
		<div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="{% static 'assets/images/inner-page/sign-up.png'%}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h2 class="card-title text-center mb-4">Register</h2>
						{% for field in form %}
							{% if field.errors %}
								<div class="text-danger">
									{{ field.label }}: {{ field.errors|striptags }}
								</div>
							{% endif %}
						{% endfor %}

						{% if form.errors %}
							<div class="alert alert-danger">
								{{ form.errors }}
							</div>
						{% endif %}

						{% if form.non_field_errors %}
							<div class="alert alert-danger">
								{{ form.non_field_errors }}
							</div>
						{% endif %}
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
								{{ message }}
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							{% endfor %}
						{% endif %}
                    </div>

                    <div class="input-box">
                        <form action="{% url 'signup' %}" method="POST" class="row g-4">
                            {% csrf_token %}
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input type="text" class="form-control" name="first_name"
                                        placeholder="First Name" />
                                    <label for="fullname">First Name</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input type="text" class="form-control" name="last_name" placeholder="Last Name" />
                                    <label for="fullname">Last Name</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input type="email" class="form-control" name="email" placeholder="Email Address" />
                                    <label for="email">Email Address</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input type="password" class="form-control" name="password1"
                                        placeholder="Password" />
                                    <label for="password1">Password</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input type="password" class="form-control" name="password2"
                                        placeholder="Confirm Password" />
                                    <label for="password2">Confirm Password</label>
                                </div>

                            </div>

                            <div class="col-12">
                                <div class="forgot-box">
                                    <div class="form-check ps-0 m-0 remember-box">
                                        <input class="checkbox_animated check-box" type="checkbox"
                                            id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">I agree with
                                            <span>Terms</span> and <span>Privacy</span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
								<div class="form-group text-center mt-2">
									<a href="{% url 'login' %}" class="text-muted"
										>I already have an account</a
									>
								</div>
                            </div>
                        </form>

						<div class="divider">Or</div>

						<div class="social-login-buttons">
							<a href="#" class="social-icon facebook nav-link"
								><i class="fab fa-facebook-f"></i
							></a>
							<a href="#" class="social-icon twitter nav-link"
								><i class="fab fa-twitter"></i
							></a>
							<a href="#" class="social-icon google nav-link"
								><i class="fab fa-google"></i
							></a>
						</div>
                    </div>

                   
                </div>
            </div>

            <div class="col-xxl-7 col-xl-6 col-lg-6"></div>
        </div>
    </div>
</section>
<!-- log in section end -->



<!-- Bg overlay Start -->
<div class="bg-overlay"></div>

<!-- Bg overlay End -->
{% endblock %}
