{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

        
		<!-- Bootstrap Banner -->
		<div
			id="carouselExampleCaptions"
			class="carousel slide"
			data-bs-ride="carousel"
		>
			<div class="carousel-indicators">
				<button
					type="button"
					data-bs-target="#carouselExampleCaptions"
					data-bs-slide-to="0"
					class="active"
					aria-current="true"
					aria-label="Slide 1"
				></button>
				<button
					type="button"
					data-bs-target="#carouselExampleCaptions"
					data-bs-slide-to="1"
					aria-label="Slide 2"
				></button>
				<button
					type="button"
					data-bs-target="#carouselExampleCaptions"
					data-bs-slide-to="2"
					aria-label="Slide 3"
				></button>
                <button
					type="button"
					data-bs-target="#carouselExampleCaptions"
					data-bs-slide-to="3"
					aria-label="Slide 4"
				></button>
                <button
					type="button"
					data-bs-target="#carouselExampleCaptions"
					data-bs-slide-to="4"
					aria-label="Slide 5"
				></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img
						src="/media/banner/CollageAutumnFashionSaleBanner.png"
						class="d-block w-100"
						alt="..."
					/>
					<div
						class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
						<h5 class="banner_subtitle text-dark">Best Quality Products</h5>
						<h5 class="banner_title text-dark">Join The Organic Movement!</h5>
						<p class="text-dark">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa,
							optio aut. Doloribus ratione cumque, laudantium voluptatibus
							eligendi aut saepe minima architecto qui, officia, natus labore
							minus. Repellendus quae velit nisi!
						</p>

						<button class="btn btn-primary">
							<i class="fas fa-cart-plus banner_button_icon"></i>
							Shop Now
						</button>
					</div>
				</div>
				<div class="carousel-item">
					<img
						src="media/banner/FashionSaleBannerLandscape.png"
						class="d-block w-100"
						alt="..."
					/>
					<div
						class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100"
					>
						
					</div>
				</div>
				<div class="carousel-item">
					<img
						src="https://i.insider.com/66e486f8bf0250c21493529a?width=700"
						class="d-block w-100"
						alt="..."
					/>
					<div
						class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100"
					>
						<h5 class="banner_subtitle text-dark">Best Quality Products</h5>
						<h5 class="banner_title text-dark">Join The Organic Movement!</h5>
						<p class="text-dark">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa,
							optio aut. Doloribus ratione cumque, laudantium voluptatibus
							eligendi aut saepe minima architecto qui, officia, natus labore
							minus. Repellendus quae velit nisi!
						</p>

						<button class="btn btn-primary">
							<i class="fas fa-cart-plus banner_button_icon"></i>
							Shop Now
						</button>
					</div>
				</div>
                <div class="carousel-item">
					<img
						src="media/banner/T-ShirtScreenPrintPromotionBanner.png"
						class="d-block w-100"
						alt="..."
					/>
					<div
						class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100"
					>
						
					</div>
				</div>
                <div class="carousel-item">
					<img
						src="media/banner/PinkandBrownFloralStyle.png"
						class="d-block w-100"
						alt="..."
					/>
					<div
						class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100"
					>
					</div>
				</div>
			</div>
			<button
				class="carousel-control-prev"
				type="button"
				data-bs-target="#carouselExampleCaptions"
				data-bs-slide="prev"
			>
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button
				class="carousel-control-next"
				type="button"
				data-bs-target="#carouselExampleCaptions"
				data-bs-slide="next"
			>
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>


        <!-- Catagory post  -->
        <div class="container-fluid">
			<div class="row">
                {% for category in categories|slice:4 %}
                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
                        <img class="image-resize" src="{{ category.category_image.url }}" alt="{{ category.name }}">
                    </div>
                {% endfor %}
			</div>
		</div>
		
		<div class="container-fluid py-4">
			<h2 class="pb-2 font-weight-bolder text-center">Best Selling Products</h2>
			<div
				class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 g-4 justify-content-center"
				id="product-cards">
                {% for product in top_products %}
                    <div class="col col-sm-6 col-md-4 col-lg-4  col-xl-4">
                        <div class="card h-100">
                            {% if product.slug %}
                                <a href="{% url 'product_detail' product.slug %}">
                                    <img class="card-img-top" src="{{product.images.first.image_path.url }}" alt="{{ product.name }}" style="height: 500px; object-fit: cover;">
                                </a>
                            {% else %}
                                <img class="card-img-top" src="{{product.images.first.image_path.url }}" alt="{{ product.name }}" style="height: 500px; object-fit: cover;">
                            
                            {% endif %}
							<span class="rotated-badge yellow_badge overflow-hidden">Best Selling</span>
                            <div class="card-body">
                                {% if product.slug %}
                                    <a href="{% url 'product_detail' product.slug %}">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                    </a>
                                {% else %}
                                    <h5 class="card-title">{{ product.name }}</h5>
                                {% endif %}
                                <p class="card-text text-muted mb-1">Brand A</p>
                                <p class="card-text mb-2">
                                    ${{ product.price }}
                                    <span
                                        class="text-decoration-line-through text-danger ms-2"
                                        > ${{ product.price }}</span
                                    >
                                </p>
                                <p class="card-text small">
                                    {{ product.description |truncatechars:100 }}
                                </p>
                                <p class="card-text text-warning mb-0">
                                    
                                
                                        {% for i in "12345" %}
                                            {% if forloop.counter <= product.full_star %}
                                                <i class="bi bi-star-fill"></i>
                                            {% elif product.half_star == 1 and forloop.counter == product.full_star|add:"1" %}
                                                <i class="bi bi-star-half"></i>
                                            {% else %}
                                                <i class="bi bi-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                        
                                    {{ product.rating }}
                                </p>
                                <p class="card-text small mt-2 text-success">In Stock</p>
                            </div>
                            <div
                                class="card-footer d-flex justify-content-between align-items-center"
                            >
                                <a href="{% url 'add_cart' product.slug %}" >
                                    <button class="btn btn-primary btn-sm" >
                                        <i class="fas fa-cart-plus banner_button_icon"></i> Add to Cart
                                    </button>
                                </a>
                                    <a href="{% url 'product_wishlist' product.slug %}" ></a>
                                    <button class="btn btn-outline-secondary btn-sm">
                                        <i class="bi bi-heart-fill"></i> Wishlist
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}           
            
            </div>
		</div>

		<!-- Catagory post  -->
        <div class="container-fluid">
			<div class="row">
                {% for category in categories|slice:"4:6" %}
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 py-3">
                        <img class="image-resize" src="{{ category.category_image.url }}" alt="{{ category.name }}">
                    </div>
                {% endfor %}
			</div>
		</div>
		<!-- Product for arrivals -->

		<div class="container-fluid py-5">
			<h2 class="pb-2 font-weight-bolder text-center">New Arrival Products</h2>
			<div
				class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 g-4 justify-content-center"
				id="arrivals-cards">
                
                {% for product in new_products %}
                    <div class="col col-sm-6 col-md-4 col-lg-4  col-xl-4">
                        <div class="card h-100">
                            {% if product.slug %}
                                <a href="{% url 'product_detail' product.slug %}">
                                    <img class="card-img-top" src="{{product.images.first.image_path.url }}" alt="{{ product.name }}" style="height: 500px; object-fit: cover;">
                                </a>
                            {% else %}
                                <img class="card-img-top" src="{{product.images.first.image_path.url }}" alt="{{ product.name }}" style="height: 500px; object-fit: cover;">
                            
                            {% endif %}
							<span class="rotated-badge tomato_badge overflow-hidden">New Arrival</span>
                            <div class="card-body">
                                {% if product.slug %}
                                    <a href="{% url 'product_detail' product.slug %}">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                    </a>
                                {% else %}
                                    <h5 class="card-title">{{ product.name }}</h5>
                                {% endif %}
                                <p class="card-text text-muted mb-1">Brand A</p>
                                <p class="card-text mb-2">
                                    ${{ product.price }}
                                    <span
                                        class="text-decoration-line-through text-danger ms-2"
                                        > ${{ product.price }}</span
                                    >
                                </p>
                                <p class="card-text small">
                                    {{ product.description |truncatechars:100 }}
                                </p>
                                <p class="card-text text-warning mb-0">
                                    
                                
                                        {% for i in "12345" %}
                                            {% if forloop.counter <= product.full_star %}
                                                <i class="bi bi-star-fill"></i>
                                            {% elif product.half_star == 1 and forloop.counter == product.full_star|add:"1" %}
                                                <i class="bi bi-star-half"></i>
                                            {% else %}
                                                <i class="bi bi-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                        
                                    {{ product.rating }}
                                </p>
                                <p class="card-text small mt-2 text-success">In Stock</p>
                            </div>
                            <div
                                class="card-footer d-flex justify-content-between align-items-center"
                            >
                                <a href="{% url 'add_cart' product.slug %}" >
                                    <button class="btn btn-primary btn-sm" >
                                        <i class="fas fa-cart-plus banner_button_icon"></i> Add to Cart
                                    </button>
                                </a>
                                    <a href="{% url 'product_wishlist' product.slug %}" ></a>
                                    <button class="btn btn-outline-secondary btn-sm">
                                        <i class="bi bi-heart-fill"></i> Wishlist
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %} 
                
            </div>
		</div>
        <!-- Catagory post  -->
        <div class="container-fluid">
			<div class="row">
                {% for category in categories|slice:"6:8" %}
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 py-3">
                        <img class="image-resize" src="{{ category.category_image.url }}" alt="{{ category.name }}">
                    </div>
                {% endfor %}
			</div>
		</div>
{% endblock %}
